<!DOCTYPE html>
<html th:replace="~{layout/masterLayout :: layout(~{::main}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">

<body>
<main role="main">
    <div class="container rounded bg-light shadow p-4">
        <h3>Employee Form</h3>
        <form name="employeeForm" th:action="@{|/employee/update?id=*{id}|}" th:object="${employee}" method="post">
            <div class="form-floating m-4">
                <input id="username" type="text" th:field="*{username}"
                       autocomplete
                       th:value="*{username}"
                       th:classappend="${#fields.hasErrors('username')} ? 'is-invalid'"
                       class="form-control" placeholder="User Name">
                <label for="username">User Name</label>
                <small th:if="${#fields.hasErrors('username')}" class="invalid-feedback"
                       th:errors="*{username}"></small>
            </div>
            <div class="form-floating m-4">
                <input id="email" type="email" th:field="*{email}" autocomplete
                       th:value="*{email}"
                       th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'"
                       class="form-control" placeholder="Email">
                <label for="email">Email</label>
                <small th:if="${#fields.hasErrors('email')}" class="invalid-feedback"
                       th:errors="*{email}"></small>
            </div>
            <div class="form-floating m-4">
                <input  id="phoneNumber" type="text" th:field="*{phoneNumber}" th:classappend="${#fields.hasErrors('phoneNumber')} ? 'is-invalid'"
                        th:value="*{phoneNumber}"
                        class="form-control">
                <label for="phoneNumber">Phone Number</label>
                <small th:if="${#fields.hasErrors('phoneNumber')}" class="invalid-feedback"
                       th:errors="*{phoneNumber}"></small>
            </div>
            <div class="form-floating m-4">
                <input id="cub" type="text" th:field="*{cubicleNumber}" th:classappend="${#fields.hasErrors('cubicleNumber')} ? 'is-invalid'"
                       th:value="*{cubicleNumber}" class="form-control">
                <label for="cub">Cubicle Number</label>
                <small th:if="${#fields.hasErrors('cubicleNumber')}" class="invalid-feedback"
                       th:errors="*{cubicleNumber}"></small>
            </div>
            <div class="form-floating m-4">
                <select th:classappend="${#fields.hasErrors('department')} ? 'is-invalid'"
                        required th:field="*{department}" class="form-select"  id="department">
                    <option th:selected="${employee.department.id == dep.id}" th:each="dep : ${departments}" th:value="${dep.id}" th:text="${dep.name}"></option>
                </select>
                <label for="department">Department</label>
                <small th:if="${#fields.hasErrors('department')}" class="invalid-feedback"
                       th:errors="*{department}"></small>
            </div>
            <div class="form-floating m-4">
                <select th:classappend="${#fields.hasErrors('role')} ? 'is-invalid'"
                        required th:field="*{role}" class="form-select"  id="role">
                    <option th:selected="${employee.role?.id > 0}" value="0">-- Choose Role --</option>
                    <option th:selected="${employee.role?.id == r.id}" th:each="r : ${roles}" th:value="${r.id}" th:text="${r.name}"></option>
                </select>
                <label for="role">Role</label>
                <small th:if="${#fields.hasErrors('role')}" class="invalid-feedback"
                       th:errors="*{role}"></small>
            </div>
            <div class="form-floating m-4">
                <select class="form-select" id="state">
                    <option th:selected="${employee.township.state.id == state.id}" th:name="${state.id}"
                            th:each="state : ${states}" th:value="${state.id}" th:text="${state.name}"></option>
                </select>
                <small th:if="${#fields.hasErrors('township')}" class="invalid-feedback">Please select state.</small>
                <label for="state">State</label>
            </div>
            <div class="form-floating m-4">
                <select th:classappend="${#fields.hasErrors('township')} ? 'is-invalid'" th:field="*{township}"
                        class="form-select" id="township">
                    <option th:each="township : ${employee.township.state.townships}" th:value="${township.id}"
                            th:selected="${employee.township.id == township.id}" th:text="${township.name}"></option>
                </select>
                <small th:if="${#fields.hasErrors('township')}" class="invalid-feedback"
                       th:errors="*{township}"></small>
                <label for="township">township</label>
            </div>
            <div class="m-4">
                <button id="submit" type="submit" class="text-center form-control btn btn-outline-primary">Save Employee</button>
            </div>
        </form>

    </div>
</main>
<script th:inline="javascript">
    const states = /*[[${states}]]*/ [];

    const state = document.getElementById('state')
    const township = document.getElementById('township')


    state.addEventListener('change', e => {
        let selected = e.currentTarget.selectedOptions.item(0);
        let ts = states.find(s => s.id === +selected.value)
        township.innerHTML = '';
        if(ts){
            for(let t of ts.townships){
                const opt = document.createElement('option')
                opt.value = t.id;
                opt.innerText = t.name;
                township.add(opt);
            }
        }
    })

    township.addEventListener('change', e => {
        let selected = e.currentTarget.selectedOptions.item(0);
        if(selected){
            let s = document.getElementById(selected.getAttribute('name'))
            if(s)
                s.selected = true;
        }
    })

</script>
</body>
</html>