<!DOCTYPE html>
<html th:replace="~{layout/masterLayout :: layout(~{::main}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">

<body>
<main role="main">
    <div th:if="${!customers.isEmpty()}">
        <div class="d-flex justify-content-between">
            <h3>Customer Tables</h3>

            <form>
                <label for="search">Search: </label>
                <input type="text" id="search" onkeyup="searchTable()" placeholder="Type to search...">
            </form>
        </div>
        <table class="m-2 table table-striped" id="dataTable">
            <thead class="thead-dark">
            <tr>
            <tr>
                <th>Id</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>State</th>
                <th>Township</th>
                <th>Active</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cu,index : ${customers}">
                <td th:text="${index.index+1}"></td>
                <td th:text="${cu.username}"></td>
                <td th:text="${cu.email}"></td>
                <td th:text="${cu.role}"></td>
                <td th:text="${cu.township.state.name}"></td>
                <td th:text="${cu.township.name}"></td>
                <td th:text="${cu.active}"></td>
                <td class="d-flex">
                    <div class="d-inline me-2" th:if="${accessUrl.contains('/customer/delete')}">
                        <button  th:hidden="${!cu.active}" class="btn btn-outline-danger" id="delete" th:onclick="del([[${cu.id}]], [[${cu.username}]])"><i class="fa fa-trash"></i></button>
                        <a hidden th:href="@{'/customer/delete?id='+ ${cu.id}}" th:id="|${cu.id}-delete-link|"></a></div>


                    <div class="d-inline" th:if="${accessUrl.contains('/customer/update')}" >
                        <a th:href="@{'/customer/update?id='+ ${cu.id}}"
                           class="btn btn-outline-warning"><i class="fa-regular fa-pen-to-square"></i></a></div>
                </td>
            </tr>
            </tbody>
        </table>
        <nav class="d-flex justify-content-center mt-5" aria-label="Page navigation example">
            <ul class="pagination" th:each="pn : ${pNums}">
                <li class="page-item"><a class="page-link" th:href="@{|/customer/find?pageNumber=${pn}|}"
                                         th:text="${pn+1}"></a></li>
            </ul>
        </nav>
    </div>
    <div th:if="${customers.isEmpty()}">
        <p class="lead">There is no customer yet.</p>
        <a th:if="${accessUrl.contains('/customer/create')} " th:href="@{'/customer/create'}"
           class="btn btn-outline-primary">New Customer</a>
    </div>
</main>

<script th:inline="javascript">
    function del(id, name){
        if(confirm(`Do you want to delete ${name}`)){
            document.getElementById(`${id}-delete-link`).click();
        }
    }
    function searchTable() {

        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("search");
        filter = input.value.toUpperCase();
        table = document.getElementById("dataTable");
        tr = table.getElementsByTagName("tr");


        for (i = 0; i < tr.length; i++) {

            td = tr[i].getElementsByTagName("td")[1];

            if (td) {
                txtValue = td.textContent || td.innerText;

                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
</body>
</html>