<!DOCTYPE html>
<html th:replace="~{layout/masterLayout :: layout(~{::main}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../static/fontawesome/css/all.min.css"
          th:href="@{/fontawesome/css/all.min.css}">

</head>
<body>
<main role="main" >
    <div class="container d-flex justify-content-center align-items-center " >
        <div class="w-50 mt-4">
            <div th:if="${loginError}" class="alert alert-danger" role="alert">
                <p>Invalid Username and Password!</p>
            </div>
            <div class=" mt-5 p-5 shadow bg-light rounded-4">
                <div hidden id="account-list" class="d-grid gap-2">
                </div>
                <button hidden id="another" class="m-2 btn btn-outline-primary shadow rounded-4">Log into
                    Another Account
                </button>
                <form name="login-form" th:action="@{/login}" method="post">
<!--                    <div class="form-group m-2">-->
<!--                        <label for="username" class="mb-2">UserName</label>-->
<!--                        <input  id="username" type="text" name="username" class="form-control"-->
<!--                               placeholder="User Name"  >-->

<!--                    </div>-->
<!--                    <div class=" m-2 form-group  ">-->
<!--                        <label for="password" class="mb-2">Password</label>-->
<!--                        <input autocomplete id="password" type="password" name="password" class="form-control"-->
<!--                               placeholder="Password">-->
<!--                    </div>-->
                    <div class="form-group">
                        <label for="username" class="mb-2">Username</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="username"  name="username" placeholder="Enter username">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="mb-2 mt-2">Password</label>
                        <div class="input-group"  >
                            <input   autocomplete type="password" class="form-control"
                                    id="password"  name="password" placeholder="Enter password">

                          <span  class="input-group-text eye-icon" id="togglePassword">
                                 <i class="fa fa-eye-slash " ></i>
                          </span>

                            </div>
                        </div>


                    <div class="d-flex justify-content-between m-4">
                        <input hidden id="choose" type="button" class="btn btn-outline-primary" value="Choose Account">
                        <input type="submit" class="btn btn-outline-primary"  value="Login">
                    </div>
                    <div class="d-flex m-2 flex-column flex-md-row justify-content-between">
                        <div class="form-check">
                            <input type="checkbox" id="remember_me" name="remember_me" class="form-check-input"/>
                            <label for="remember_me" class="form-check-label">Remember Me</label>
                        </div>
                        <div>
                            <a th:href="@{/reset}">forgot password?</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</main>

<script >

    document.getElementById('togglePassword').addEventListener('click', function () {
        var passwordInput = document.getElementById('password');
        var icon = this.querySelector('i');

      console.log(icon);
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            icon.classList.remove('fa-eye-slash');
            icon.classList.add('fa-eye');
        } else {
            passwordInput.type = 'password';
            icon.classList.remove('fa-eye');
            icon.classList.add('fa-eye-slash');
        }
    });
    const username = document.getElementById("username");
    const password = document.getElementById('password');
    const loginForm = document.forms.namedItem('login-form');
    const list = document.getElementById('account-list');
    const another = document.getElementById('another');
    const choose = document.getElementById('choose');
    const rememberMe = document.getElementById("remember_me");

    let selected;

    rememberMe.addEventListener('change', () => {
        selected = true;
    })
    loginForm.onsubmit = (e) => {
        if(selected){
            // let user = {username : username.value, password : password.value}
            // localStorage.setItem('temp', JSON.stringify(user))

            let usernameValue = username.value;
            let passwordValue = password.value;

            if ((usernameValue === null || passwordValue === null) || (usernameValue === '' || passwordValue === '')) {
                localStorage.removeItem('temp');
            } else {
                let user = { username: usernameValue, password: passwordValue };
                localStorage.setItem('temp', JSON.stringify(user));
            }
        }
    }

    accList();
    function accList(){
        list.innerHTML = ''
        for (let i = 0; i < localStorage.length; i++) {
            const key = localStorage.key(i);
            if (key.includes('account-')) {
                const account = JSON.parse(localStorage.getItem(key));
                const button = document.createElement('button');
                button.innerText = account.username;
                button.className = "col-10 btn btn-outline-primary shadow text-dark rounded-4";
                button.addEventListener('click', e => {
                    username.value = account.username;
                    password.value = account.password;
                    loginForm.submit();
                })

                const del = document.createElement('button');
                del.innerHTML = '<i class="fa fa-times"></i>';
                del.className = "col-1 ms-2 btn btn-outline-danger text-dark rounded-4";
                del.addEventListener('click', e => {
                    localStorage.removeItem(`account-${account.username}`);
                    accList();
                })

                const row = document.createElement('div');
                row.className = 'row';
                row.append(button, del)
                document.getElementById('account-list').prepend(row);
            }
        }
    }

    if (list.children.length > 0) {
        hideForm(true)
        choose.hidden = false;
    }

    choose.addEventListener('click', e => {
        hideForm(true)
    })

    another.addEventListener('click', e => {
        hideForm(false)
    })

    function hideForm(hide) {
        for (let child of list.children) {
            child.hidden = !hide;
        }
        list.hidden = !hide;
        another.hidden = !hide;
        loginForm.hidden = hide;
    }


</script>

</body>
</html>