<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="layout(main, script)" lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../static/fontawesome/css/all.min.css"
          th:href="@{/fontawesome/css/all.min.css}">
</head>
<body>

<div class="rounded m-2 mb-3" sec:authorize="isAuthenticated()">
    <div th:replace="~{fragments/navbar.html :: navbar}"></div>
</div>
<div class="container-fluid">
    <div th:replace="${main}"></div>
</div>
<script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}" src="../../static/bootstrap/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/fontawesome/js/all.min.js}" src="../../static/fontawesome/js/all.min.js"></script>
<script th:inline="javascript">
    const exist = JSON.parse(localStorage.getItem('temp'));
    if(exist){
        let yes  = confirm('Do you want to save your account info in this device?')
        if(yes){
            localStorage.setItem(`account-${exist.username}`, JSON.stringify({"username" : exist.username, "password" : exist.password}))
        }
        localStorage.removeItem('temp');
    }
</script>
<script th:replace="${script}"></script>
</body>
</html>