<app-master-data title="Division" icon="geo-alt">

  <app-no-data table message="for Division" *ngIf="divisions.length == 0"></app-no-data>

  <table table class="table table-striped" *ngIf="divisions.length > 0">
    <thead>
      <tr>
        <td>Name</td>
        <td>Burmese</td>
        <td>Region</td>
        <td>Capital</td>
        <td></td>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let div of divisions">
        <td>{{ div.name }}</td>
        <td>{{ div.burmese }}</td>
        <td>{{ div.region }}</td>
        <td>{{ div.capital }}</td>
        <td>
          <button class="btn btn-sm btn-outline-primary me-2" (click)="edit(div)">
            <i class="bi bi-pencil-square"></i>
          </button>

          <button class="btn btn-sm btn-outline-danger" (click)="delete(div.id)">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <form search [formGroup]="searchForm">
    <label for="Region" class="form-label">Region</label>
    <select (change)="search()" formControlName="region" id="id" class="form-select mb-3">
      <option value="">Select Region</option>
      <option *ngFor="let reg of regions" [value]="reg">{{ reg }}</option>
    </select>

    <label for="keyword" class="form-label">Keyword</label>
    <input (change)="search()" formControlName="keyword" type="text" id="keyword" class="form-control mb-3"
      placeholder="Keyword">

    <button class="btn btn-success btn-block w-100 mb-2" (click)="addNew()">
      <i class="bi bi-plus-lg"></i> Add New Division
    </button>

    <button class="btn btn-primary btn-block w-100 mb-2" (click)="search()">
      <i class="bi bi-search"></i> Search
    </button>

    <button class="btn btn-dark btn-block w-100" (click)="uploadFile.click()">
      <i class="bi bi-upload"></i> Upload
    </button>

  </form>

</app-master-data>

<app-division-form [data]="targetDivision" (onSave)="saveDivision($event)"></app-division-form>

<form action="#" method="post" class="d-none">
  <input type="file" #uploadFile (change)="uploadDivision(uploadFile.files!)">
</form>